manifest {
    name            = 'fqdemux'
    author          = """Andrew Perry"""
    homePage        = 'https://github.com/Monash-Bioinformatics-Platform/fqdemux'
    description     = """Demultiplex FASTQ files with FQTK"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '0.1'
    defaultBranch   = 'main'
}

apptainer {
    enabled = true
    autoMounts = true
    pullTimeout = 3.hours
}

process{
    withName: 'FQTK' {
        cpus = 8
        memory = '16GB'

        publishDir = [
            path: { "${params.outdir}/demultiplexed" },
            mode: 'copy',
            pattern: "output/*.{fastq.gz,fq.gz,txt}",
        ]
    }
    withName: 'CREATE_SAMPLESHEET' {
        cpus = 1
        memory = '1GB'
        publishDir = [
            path: { "${params.outdir}" },
            mode: 'copy',
            pattern: "samplesheet.csv",
        ]
    }
}

profiles {
    local {
        executor {
            name = 'local'
            queueSize = 32
            pollInterval = '30 sec'
        }
        process {
            executor = 'local'
            stageInMode = 'symlink'
            maxRetries = 0
            cache = 'lenient'
        }
    }
    slurm {
        executor {
            name = 'slurm'
            queueSize = 900
            pollInterval = '30 sec'
            queueStatInterval = '10m'
        }
        process {
            executor = 'slurm'
            stageInMode = 'symlink'
            // errorStrategy = 'retry'
            maxRetries = 1
            cache = 'lenient'
        }
    }
}

// Extra configuration for pipeline specific modules
//includeConfig './conf/modules/fqtk/nextflow.config'
